/*
Icons from:
https://www.iconfinder.com/iconsets/20-flat-icons


*/

body, dt, dd, th, td  {
    font-family: verdana, sans-serif;
    font-size: 14px;
}

body {
    background-color: #84cc3c;
    margin: 0;
    padding: 0;
}

#definitionArea {
    background-color: black;
    color: white;
}
#dataArea {
    color: black;
}
section {
    margin: 0;
    padding: 1em;
}
#definition {
    white-space: pre;
    overflow: auto;
}
#data {
    margin: 1em;
    padding: 1em 1em 3em 1em;
    border: 1px solid #aaa;
    font-family: courier, monospace;
    background-color: white;
}

.line {
    display: block;
    color: black;
    margin: .3em 0;
    font-weight: bold;
    clear: both;
}

.token {
    display: inline-block;
    background-color: #efe;
    /*margin-right: 1ex;*/
    min-width: 1em;
    height: 1.5em;
    box-sizing: border-box;
    position: relative;
    float: left;
}
.unknownFormat {
    background-color: #fed;
    font-style: italic;
    font-weight: normal;
}

.droptarget.unloaded.spinner {
    background-image: url("../img/ajax-loader.gif");
}

.droptarget.unloaded {
    color: #666;
    padding: .5em .5em .5em;
    border-radius: 10px;
    min-height: 155px;
    background-image: url("../img/file.png");
    background-repeat: no-repeat;
    background-position: center;
}

.droptarget.dragAllowed {
    background-color: #eefeee;
}

#lineinfo {
    z-index: 100;
    position: absolute;
    left: 2em;
    top: 2em;
    border: 1px solid black;
    /*width: 450px;*/
    min-height: 50px;
    display: none;
    background-color: white;
    border-radius: 1em 1em 1em 0;
    box-shadow: 2px 2px 17px black;
    padding: .5em;
    box-sizing: border-box;
}

table {
    border-collapse: collapse;
}
td, th {
    text-align: left;
    padding: .1em .3em;
}
td {
    vertical-align: top;
}
th {
    vertical-align: bottom;
}

tbody td {
    border: 1px solid #aaa;
    background-color: #eee;
    white-space: nowrap;
    font-family: courier, monospace;
}

tfoot td {
    font-size: .7em;
    color: #999;
    padding-top: .5em;
}